###################
# Python Related  #
###################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
pytest.ini

# Package management
poetry.lock
.python-version

# Jupyter Notebook
.ipynb_checkpoints

###################
# IDEs & Editors  #
###################
# VS Code
.vscode/

# JetBrains
.idea/

# Vim
*.swp
*.swo

# Sublime Text
*.sublime-*

# Obsidian
.obsidian/

# Misc editor files
*~

###################
# OS Generated    #
###################
# macOS
.DS_Store

# Windows
Thumbs.db

###################
# Databases       #
###################
*.db
*.sqlite
*.sqlite3
/data/db/*.db

###################
# Configuration   #
###################
.env
.spotify_cache

# Alembic migrations
alembic/versions/
alembic/*.ini
alembic/README
alembic/script.py.mako
alembic.ini
alembic/

###################
# Logs            #
###################
*.log
logs/
/data/logs/**/*.log

###################
# Project-specific #
###################
var/
/var/**/*
infra/
scripts/
tests/
data/
CLAUDE.md