#################
# Python Related #
#################
# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Virtual environments
.venv/

# Jupyter Notebook
.ipynb_checkpoints

################
# Package Mgmt #
################
poetry.lock

#############
# Databases #
#############
*.db
*.sqlite
*.sqlite3
/data/db/*.db

#####################
# Alembic Migrations #
#####################
alembic/versions/
alembic/*.ini
!alembic/README
!alembic/script.py.mako
alembic.ini

##########################
# Environment & Config   #
##########################
.env
.spotify_cache

#########
# Logs  #
#########
*.log
logs/
/data/logs/**/*.log

#######################
# IDEs and Editors    #
#######################
# VS Code
.vscode/

# JetBrains
.idea/

# Vim
*.swp
*.swo

# Sublime Text
*.sublime-*

# Obsidian
.obsidian/

# Misc
*~

#########################
# Operating System Files #
#########################
# macOS
.DS_Store

# Windows
Thumbs.db

###########################
# Project-specific Dirs   #
###########################
var/
/var/**/*
infra/
scripts/
tests/*
pytest.ini